.todo-list-container {
  text-align: center;
  background-color: #f0f2f5;
  padding: 20px;
  border-radius: 8px;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
}



.todo-list {
  list-style-type: none;
  padding: 0;
}